extends layouts/application

block title
    title Index

block main
    #node.node
    #cursor.cursor

    .loader.js-loader
        .loader__container
            .loader__logo-box
                img(src='img/logo-l.svg' alt='')

    section.promo.jarallax.js-promo(style='background-image: url(img/promo-1.jpg)')
        .promo__logo-box
            img(src='img/logo.svg' alt='')
        h1.promo__title Эпоксидные доски Пенни&nbsp;Борд
        p.promo__description Произведение искусства, но котором можно не только сидеть и трогать руками, <br class='is-md'>но и кататься по&nbsp;любимым&nbsp;местам

    .section
        .container
            .page-about
                .page-about__logo
                    svg.icon(role='img')
                        use(xlink:href='img/icons.svg#board')

                p Мы занимаемся изготовлением досок с применением эпоксидных смол. Отличительная черта — яркий сочный дизайн, который ставит на паузу всех, кто катается рядом — они разглядывают ваш Пенни.
                p В качестве сырья мы используем берёзу, орех, ольху, клён. Эпоксидная смола Graffsmith & Paper, колеры Syntacolor.

    .promo.jarallax(style='background-image: url(img/Ferragamo_Holiday_2018_Fashionela-9.jpg)')

    section.section
        .container
            .section__header
                h2.section__title Варианты расцветок
                p.section__description В качестве сырья мы используем берёзу, орех, ольху, клён. Эпоксидная смола Graffsmith & Paper, колеры Syntacolor.

            .catalog
                .catalog__grid

                    each val, index in [{name:'Черный Плэйграунд', price:'от 5000 ₽', url:'img/photo/bitmap@2x.jpg'},{name:'Карамельный Орех', price:'от 5000 ₽', url:'img/photo/bitmap-copy@2x.jpg'},{name:'Янтарная Берёза', price:'от 5000 ₽', url:'img/photo/bitmap-copy@2x.jpg'},{name:'Молочный Дуб', price:'от 5000 ₽', url:'img/photo/bitmap-copy-3@2x.jpg'},{name:'Гудронный Спрэй', price:'от 5000 ₽', url:'img/photo/bitmap-copy-4@2x.jpg'},{name:'Мятная Лиственница', price:'от 5000 ₽', url:'img/photo/bitmap-copy-5@2x.jpg'}]

                        .catalog__col
                            article.product-card
                                a.js-open-gallery.js-node-hover(href='#' data-index=index)
                                    .product-card__image
                                        img(src=val.url alt=val.name)
                                    .product-card__information
                                        .product-card__title
                                            span=val.name
                                        .product-card__price=val.price


    .promo.jarallax(style='background-image: url(img/Ferragamo_Holiday_2018_Fashionela-9.jpg)')

    .section
        .container
            .page-about
                .page-about__logo
                    svg.icon(role='img')
                        use(xlink:href='img/icons.svg#board')

                p Меня зовут Артём. В моей бороде сила и мудрость моих предков. Мы с друзьями хотим, чтобы эпоксидная смола застывала без комочков и пузырей, заполняя все пустоты вашей души.
                p Возьмите в руки наш Пенни Борд. Посмотрите, как лучи света застывают внутри смолы. Это ловушка для лета!

    .section.section--contacts#order-form
        .container
            form.contact-form(action='#')
                .contact-form__header
                    h4.contact-form__title Напишите нам
                    p.contact-form__description Мы хотим сотрудничать с ритейлерами-ротвейлерами и небольшими магазинами. Даже если вы хотите купить одну доску или просто посмотреть на них вживую — напишите нам и мы с радостью вам поможем!

                .contact-form__body

                    .input
                        input(type='name' placeholder='Имя')

                    .input
                        input(type='phone' placeholder='Телефон')

                    .input
                        input(type='email' placeholder='E-mail')

                    .textarea
                        .textarea
                            textarea(placeholder='Ваше сообщение')

                    .input
                        button.button.button--block.js-node-hover отправить

                    p Нажимаю на кнопку "отправить" - вы соглашаетесь на обработку персональных данных


    include components/_gallery
