extends layouts/application

block title
    title Index

block main
    #node.node
    #cursor.cursor

    .loader.js-loader
        .loader__container
            .loader__logo-box
                img(src='img/logo-l.svg' alt='')

    section.promo.jarallax.js-promo(style='background-image: url(img/promo-1.jpg)')
        .promo__logo-box
            img(src='img/logo.svg' alt='')
        h1.promo__title Эпоксидные доски Пенни&nbsp;Борд
        h2.promo__description Произведение искусства, но котором можно не только сидеть и трогать руками, <br class='is-md'>но и кататься по&nbsp;любимым&nbsp;местам

    .section
        .container
            .page-about
                p Мы занимаемся изготовлением досок с применением эпоксидных смол. Отличительная черта — яркий сочный дизайн, который ставит на паузу всех, кто катается рядом — они разглядывают ваш Пенни.
                p В качестве сырья мы используем берёзу, орех, ольху, клён. Эпоксидная смола Graffsmith & Paper, колеры Syntacolor.

    .promo.jarallax(style='background-image: url(img/Ferragamo_Holiday_2018_Fashionela-9.jpg)')

    section.section
        .container
            .section__header
                h2.section__title Варианты расцветок
                p.section__description В качестве сырья мы используем берёзу, орех, ольху, клён. Эпоксидная смола Graffsmith & Paper, колеры Syntacolor.

            .catalog
                .catalog__grid

                    each val, index in [{name:'Черный Плэйграунд', price:'от 5000 ₽', url:'img/photo/bitmap@2x.jpg'},{name:'Карамельный Орех', price:'от 5000 ₽', url:'img/photo/bitmap-copy@2x.jpg'},{name:'Янтарная Берёза', price:'от 5000 ₽', url:'img/photo/bitmap-copy@2x.jpg'},{name:'Молочный Дуб', price:'от 5000 ₽', url:'img/photo/bitmap-copy-3@2x.jpg'},{name:'Гудронный Спрэй', price:'от 5000 ₽', url:'img/photo/bitmap-copy-4@2x.jpg'},{name:'Мятная Лиственница', price:'от 5000 ₽', url:'img/photo/bitmap-copy-5@2x.jpg'}]

                        .catalog__col
                            article.product-card
                                a.js-open-gallery.js-node-hover(href='#' data-index=index)
                                    .product-card__image
                                        img(src=val.url alt=val.name)
                                    .product-card__information
                                        .product-card__title
                                            span=val.name
                                        .product-card__price=val.price


    .promo.jarallax(style='background-image: url(img/Ferragamo_Holiday_2018_Fashionela-9.jpg)')

    .section
        .container
            .page-about
                p Меня зовут Артём. В моей бороде сила и мудрость моих предков. Мы с друзьями хотим, чтобы эпоксидная смола застывала без комочков и пузырей, заполняя все пустоты вашей души.
                p Возьмите в руки наш Пенни Борд. Посмотрите, как лучи света застывают внутри смолы. Это ловушка для лета!



    include components/_gallery
